<nz-layout>

  <nz-sider [nzCollapsible]="true" [nzWidth]="200" [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
      <a [routerLink]="[ '/' ]" routerLinkActive="active">
        <img src="../../../assets/icons/icon-152x152.png" alt="logo"></a>
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">


      <li nz-submenu>
        <span title><i nz-icon type="user" theme="outline"></i><span class="nav-text">Team</span></span>
        <ul>
          <li nz-menu-item><i nz-icon type="logout" theme="outline"></i>Logout</li>
          <li nz-menu-item><i nz-icon type="profile" theme="outline"></i> Profile</li>
        </ul>
      </li>
      <li nz-menu-item><span><i nz-icon type="login" theme="outline"></i><span class="nav-text">Login</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>

    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>

    </nz-content>
    <nz-footer>
      &copy; {{year}} Angular Starter Template
    </nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>