<nz-layout>

  <nz-sider [nzCollapsible]="true" [nzWidth]="200" [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
      <a [routerLink]="[ '/' ]" routerLinkActive="active">
        <img src="../../../assets/icons/icon-152x152.png" alt="logo"></a>
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">


      <li nz-submenu *ngIf="auth.isAuthenticated()">
        <span title>
          <img src="{{profile?.picture}}" class="avatar" alt="avatar">
          <span class="nav-text">
            {{ profile?.nickname }}
          </span>
        </span>
        <ul>
          <li nz-menu-item>
            <a [routerLink]="[ '/profile' ]" routerLinkActive="active">
              <i nz-icon type="profile" theme="outline"></i> Profile
            </a>
          </li>
          <li nz-menu-item (click)="auth.logout()">
            <i nz-icon type="logout" theme="outline"></i>
            Logout
          </li>
        </ul>
      </li>
      <li nz-menu-item *ngIf="!auth.isAuthenticated()">
        <span (click)="login()">
          <i nz-icon type="login" theme="outline"></i>
          <span class="nav-text">
            Login
          </span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>

    </nz-header>
    <nz-content style="padding: 10px">
      <router-outlet></router-outlet>

    </nz-content>
    <nz-footer>
      &copy; {{year}} Angular Starter Template
    </nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>